In [ ]:
import pandas as pd

rest = pd.read_csv('/content/drive/MyDrive/서울시 일반음식점 인허가 정보.csv', encoding='EUC-KR', encoding_errors='ignore', low_memory=False)
rest = rest[['상세영업상태명','도로명주소','도로명우편번호','사업장명','업태구분명','좌표정보(X)','좌표정보(Y)']]
rest = rest[rest['상세영업상태명']=='영업']
rest = rest.drop(columns='상세영업상태명')

In [ ]:
value_to_remove = ['출장조리','키즈카페','이동조리','감성주점','라이브카페']

if '업태구분명' in rest.columns:
    rest = rest[~rest['업태구분명'].isin(value_to_remove)]

In [ ]:
# 특정 열(column)을 기준으로 위아래로 내용의 절반 이상이 동일한 행 제거하고 하나만 남기기
column_to_check = '도로명주소'

if column_to_check in rest.columns:
    # 중복 행 제거
    rest = rest.drop_duplicates(subset=column_to_check)

    # 하나만 남기기
    rest = rest.groupby(column_to_check).first().reset_index()

In [ ]:
rest = rest.dropna()

In [ ]:
seoul_districts = ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
                   '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구',
                   '용산구', '은평구', '종로구', '중구', '중랑구']

def extract_district(address):
    for district in seoul_districts:
        if district in address:
            return district
    return ''

# 가정집 주소를 기반으로 지역구 추출하여 지역구 column 추가
rest['지역구'] = rest['도로명주소'].apply(extract_district)

rest

,도로명주소,도로명우편번호,사업장명,업태구분명,좌표정보(X),좌표정보(Y),지역구
1,"서울특별시 강남구 가로수길 10, 지상2층 (신사동)",6036.0,라키,한식,202002.626359,446261.504151,강남구
2,"서울특별시 강남구 가로수길 14-3, 지상1층 101호 (신사동)",6036.0,필살기,일식,202014.219277,446313.725098,강남구
3,"서울특별시 강남구 가로수길 14-3, 지하1층 (신사동)",6036.0,시티헌터,한식,202014.219277,446313.725098,강남구
4,"서울특별시 강남구 가로수길 16, 지상2층 (신사동)",6036.0,롤링파스타 가로수길점,경양식,201996.762637,446311.014235,강남구
5,"서울특별시 강남구 가로수길 19, 지하1층 (신사동)",6035.0,원하프,한식,201960.402587,446327.996389,강남구
...,...,...,...,...,...,...,...
115697,"서울특별시 중랑구 중랑천로20길 2, 우측 1층 (중화동)",2112.0,청춘한쌈,한식,206323.115893,454852.528602,중랑구
115698,서울특별시 중랑구 중랑천로20길 4 (중화동),2112.0,머니데이,호프/통닭,206331.265062,454863.352729,중랑구
115699,서울특별시 중랑구 중랑천로20길 9 (중화동),2113.0,쉼터생고기집,한식,206334.874206,454897.712797,중랑구
115700,"서울특별시 중랑구 중랑천로29길 33, 1층 (중화동)",2114.0,도리도리,한식,206207.463185,454917.564828,중랑구
115701,서울특별시 중랑구 중랑천로30길 62 (중화동),2111.0,진미식당,한식,206575.643651,454964.527385,중랑구

In [ ]:
# value_to_remove = ['은평구','중랑구','강서구','구로구','강동구','금천구','도봉구','강북구','양천구']

# if '지역구' in rest.columns:
#     rest = rest[~rest['지역구'].isin(value_to_remove)]
# rest


gu_list = ['송파구','중구','종로구','용산구','강남구','서초구','서대문구','노원구','동대문구','마포구','영등포구','성동구','광진구']
if '지역구' in rest.columns:
  rest = rest[rest['지역구'].isin(gu_list)]
rest

,도로명주소,도로명우편번호,사업장명,업태구분명,좌표정보(X),좌표정보(Y),지역구
1,"서울특별시 강남구 가로수길 10, 지상2층 (신사동)",6036.0,라키,한식,202002.626359,446261.504151,강남구
2,"서울특별시 강남구 가로수길 14-3, 지상1층 101호 (신사동)",6036.0,필살기,일식,202014.219277,446313.725098,강남구
3,"서울특별시 강남구 가로수길 14-3, 지하1층 (신사동)",6036.0,시티헌터,한식,202014.219277,446313.725098,강남구
4,"서울특별시 강남구 가로수길 16, 지상2층 (신사동)",6036.0,롤링파스타 가로수길점,경양식,201996.762637,446311.014235,강남구
5,"서울특별시 강남구 가로수길 19, 지하1층 (신사동)",6035.0,원하프,한식,201960.402587,446327.996389,강남구
...,...,...,...,...,...,...,...
112234,"서울특별시 중구 후암로 98, 115호 (남대문로5가, STX남산타워 지하1층)",4637.0,땡스커피(Thanx coffee),기타,197705.803798,450180.019066,중구
112235,"서울특별시 중구 후암로 98, 지하1층 B115호 (남대문로5가, STX남산타워)",4637.0,미스터에프,분식,197705.803798,450180.019066,중구
112236,"서울특별시 중구 후암로58길 19 (남대문로5가, 1층)",4637.0,남산집,한식,197705.761066,450233.409626,중구
112237,서울특별시 중구 후암로60길 11 (남대문로5가),4637.0,건우포장마차,한식,197616.927312,450266.263777,중구
112238,서울특별시 중구 후암로60길 13 (남대문로5가),4637.0,장호왕곱창.김치찌게,한식,197623.647430,450269.107605,중구

In [ ]:
rest['지역구'].value_counts()

강남구     11720
마포구      8074
송파구      6606
종로구      6275
영등포구     6261
중구       5397
서초구      5371
용산구      4682
광진구      3864
동대문구     3765
성동구      3631
서대문구     3339
노원구      3335
Name: 지역구, dtype: int64

In [ ]:
def filter_dataset(df):
    sampled_dfs = []  # 지역구별로 샘플링된 데이터프레임들을 저장할 리스트

    # 데이터를 지역구별로 그룹화
    grouped = df.groupby('지역구')

    # 각 지역구별로 샘플링 수행
    for region, region_df in grouped:

        # 추출된 데이터에서 60%만 남기기
        sampled_df = df.sample(frac=0.9, random_state=42)

    return sampled_df

# 예시
sampled_dataset = filter_dataset(rest)
sampled_dataset.to_csv('식당 원본.csv',index=0)

In [ ]:
sampled_dataset['검색항목'] = sampled_dataset['사업장명'] +' '+ sampled_dataset['지역구']
sampled_dataset['검색항목'].to_csv('식당과카페정보(90%).csv',index=0)

In [ ]:
sampled_dataset[:]

,도로명주소,도로명우편번호,사업장명,업태구분명,좌표정보(X),좌표정보(Y),지역구,검색항목
94339,"서울특별시 용산구 이태원로 176, 1층 (이태원동)",4391.0,알페도케밥,"외국음식전문점(인도,태국등)",199349.790763,447999.806798,용산구,알페도케밥 용산구
101570,서울특별시 종로구 보문로 7-1 (숭인동),3111.0,맛나식당,한식,201960.643748,452669.421331,종로구,맛나식당 종로구
70930,"서울특별시 성동구 아차산로7길 14-1, 지상2층 (성수동2가)",4794.0,모리,호프/통닭,204771.225480,449353.789642,성동구,모리 성동구
94146,"서울특별시 용산구 이촌로 319, 현대상가 라동 1층 114호 (이촌동)",4424.0,이촌사누끼,일식,198375.194938,446272.363062,용산구,이촌사누끼 용산구
51775,"서울특별시 마포구 대흥로 163-1 (대흥동,1층)",4106.0,새문순대국,한식,195135.161696,450154.216689,마포구,새문순대국 마포구
...,...,...,...,...,...,...,...,...
4988,"서울특별시 강남구 봉은사로6길 38, 1층 103호 (역삼동)",6128.0,딸부자네11번출구점,한식,202367.278543,444482.115207,강남구,딸부자네11번출구점 강남구
69162,"서울특별시 성동구 뚝섬로1길 31, 서울숲 M타워 1층 104호 (성수동1가)",4778.0,스시포레,일식,204045.693799,449091.660473,성동구,스시포레 성동구
63346,"서울특별시 서초구 강남대로10길 65, 102호 (양재동)",6785.0,유남생,까페,203684.320211,440865.298328,서초구,유남생 서초구
87060,서울특별시 영등포구 국회대로72길 22 (여의도동),7238.0,생태명가,일식,192969.820841,447419.648688,영등포구,생태명가 영등포구
54738,"서울특별시 마포구 서강로13길 31-4, 2층 (창전동)",4061.0,암브로시아(Ambrosia),경양식,193929.662437,450228.583525,마포구,암브로시아(Ambrosia) 마포구

In [ ]:
rest['검색항목'] = rest['사업장명'] +' '+ rest['지역구']
rest['검색항목']

<ipython-input-49-5fa5d78fdb96>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  rest['검색항목'] = rest['사업장명'] +' '+ rest['지역구']

1                        라키 강남구
2                       필살기 강남구
3                      시티헌터 강남구
4               롤링파스타 가로수길점 강남구
5                       원하프 강남구
                  ...
112234    땡스커피(Thanx coffee) 중구
112235                 미스터에프 중구
112236                   남산집 중구
112237                건우포장마차 중구
112238            장호왕곱창.김치찌게 중구
Name: 검색항목, Length: 72320, dtype: object

In [ ]:
name_df = rest['사업장명']
name_df

1                         라키
2                        필살기
3                       시티헌터
4                롤링파스타 가로수길점
5                        원하프
                 ...
112234    땡스커피(Thanx coffee)
112235                 미스터에프
112236                   남산집
112237                건우포장마차
112238            장호왕곱창.김치찌게
Name: 사업장명, Length: 72320, dtype: object

In [ ]:
rest['검색항목'].to_csv('식당과카페정보(FULL).csv')



---

In [ ]:
cul1 = pd.read_csv('/content/drive/MyDrive/서울시 관광 문화.csv', encoding='EUC-KR', encoding_errors='ignore', low_memory=False)
cul2 = pd.read_csv('/content/drive/MyDrive/서울시 문화공간 정보.csv', encoding='EUC-KR', encoding_errors='ignore', low_memory=False)
cul2

,번호,주제분류,문화시설명,주소,위도,경도,전화번호,팩스번호,홈페이지,관람시간,...,기타사항,시설소개,무료구분,지하철,버스정거장,YELLOW,GREEN,BLUE,RED,공항버스
0,1,기타,경희대학교,서울특별시 동대문구 경희대로 26,37.593949,127.054891,02) 961-0114,NaN,https://www.khu.ac.kr/kor/main/index.do,NaN,...,NaN,<div style='text-align: center;' align='center...,무료,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,기타,DDP(동대문디자인플라자),서울특별시 중구 을지로 281,37.566813,127.009626,02-2153-0000,02-2153-0010,http://www.ddp.or.kr/main,NaN,...,NaN,<h5 class='tit_chapter' style='padding: 0px; m...,무료,NaN,"동대문역사문화공원, 광희동, 을지로 6가 국립중앙의료원",NaN,NaN,"N13, 105,152,301,N13,N16,N30,105,144,261,301,4...",NaN,NaN
2,3,공연장,우란2경,서울특별시 성동구 연무장7길 11,37.543790,127.054417,070-4244-3812,NaN,http://www.wooranfdn.org/main.jsp,NaN,...,NaN,<h3 class='space-content-title'><span style='f...,무료,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,도서관,구립은평뉴타운도서관,서울특별시 은평구 진관2로 111-51,37.637230,126.933118,(02) 6341-6400,NaN,http://www.enlib.or.kr/,NaN,...,NaN,<p class='0' style='line-height:130%;mso-pagin...,무료,NaN,NaN,NaN,"(지선) 7211, (지선) 7723",NaN,NaN,NaN
4,5,문화예술회관,노원문화예술회관,서울특별시 노원구 중계로 181,37.650236,127.080269,02-2289-3400,NaN,https://www.nowonart.kr/,NaN,...,NaN,<p><font face=&quot;돋움&quot; size=&quot;2&quot...,NaN,"4호선 상계역 : 4번 출구 - 1143번, 1140번 버스(노원문화예술회관 하차)...",NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
812,813,기타,목동종합운동장실내아이스링크,서울특별시 양천구 안양천로 939,37.530728,126.879233,02)2649-8454~6,NaN,https://www.mdicerink.com/mdicerink/index.html,NaN,...,NaN,<div style='text-align: center;' align='center...,유료,NaN,NaN,NaN,NaN,NaN,NaN,NaN
813,814,도서관,강서도서관,서울특별시 강서구 등촌로51나길 29,37.547903,126.859928,02-3219-7000,02-2653-0932,http://gslib.sen.go.kr/,NaN,...,NaN,<p><span style='font-size: 14pt;'>*1982. 8. 22...,무료,NaN,NaN,NaN,NaN,NaN,NaN,NaN
814,815,도서관,송파글마루도서관,서울특별시 송파구 충민로 120,37.480834,127.130478,02-449-8855,02-449-7755,https://www.splib.or.kr/spjlib/index.do,NaN,...,NaN,<div style='text-align: center;' align='center...,무료,NaN,NaN,NaN,NaN,NaN,NaN,NaN
815,816,도서관,영등포평생학습관,서울특별시 영등포구 국회대로53길 20,37.527007,126.907703,02) 6712-7533~4,02-2636-1680,http://ydpllc.sen.go.kr/ydpllc_index.jsp,NaN,...,NaN,<div style='text-align: left;' align='left'><s...,유료,NaN,NaN,NaN,NaN,NaN,NaN,NaN
816,817,미술관,갤러리 조은,서울특별시 용산구 이태원로55가길 3,37.538032,127.000743,02-790-5889,NaN,https://galleryjoeun.com/kor/main/,NaN,...,NaN,<div><span style='font-size: 14pt;'>갤러리조은은 201...,무료,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
cul1 = pd.read_csv('/content/drive/MyDrive/서울시 관광 문화.csv', encoding='EUC-KR', encoding_errors='ignore', low_memory=False)
cul2 = pd.read_csv('/content/drive/MyDrive/서울시 문화공간 정보.csv', encoding='EUC-KR', encoding_errors='ignore', low_memory=False)
cul1 = cul1[['상호명','신주소','웹사이트']]
cul2 = cul2[['문화시설명','주소','홈페이지','주제분류','위도','경도']]
cul1.columns = ['문화시설명','주소','홈페이지']

In [ ]:
cul1['주소'] = cul1['주소'].astype(str)
cul2['주소'] = cul2['주소'].astype(str)

seoul_districts = ['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구', '도봉구',
                   '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구', '양천구', '영등포구',
                   '용산구', '은평구', '종로구', '중구', '중랑구']

def extract_district(address):
    for district in seoul_districts:
        if district in address:
            return district
    return ''

# 가정집 주소를 기반으로 지역구 추출하여 지역구 column 추가
cul1['지역구'] = cul1['주소'].apply(extract_district)
cul2['지역구'] = cul2['주소'].apply(extract_district)

cul1 = cul1[cul1['지역구']!='']
cul2 = cul2[cul2['지역구']!='']

<ipython-input-15-d92edba18994>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cul1['주소'] = cul1['주소'].astype(str)
<ipython-input-15-d92edba18994>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cul1['지역구'] = cul1['주소'].apply(extract_district)

In [ ]:
display(cul1,cul2)

,문화시설명,주소,홈페이지,지역구
0,세종문화회관,03172 서울 종로구 세종대로 175 (세종문화회관),https://www.sejongpac.or.kr/portal/main/main.do,종로구
1,명동실탄사격장,04537 서울 중구 명동8가길 27 선샤인빌딩3층,http://www.koreashootingclub.com/gnuboard4/,중구
3,예지원,04605 서울특별시 중구 장충단로 72 (장충동2가),http://www.yejiwon.or.kr,중구
4,DMC 홍보관,03926 서울특별시 마포구 월드컵북로 366 (상암동),NaN,마포구
5,KBS 온(ON),07235 서울 영등포구 여의공원로 13 (한국방송공사),http://office.kbs.co.kr/kbson/,영등포구
...,...,...,...,...
195,서울바이오허브,"02455 서울 동대문구 회기로 117-3 (회기동, 한국농촌경제연구원)",http://www.seoulbiohub.kr/front/user/main.do;j...,동대문구
196,서울시50플러스 남부캠퍼스,"08350 서울 구로구 오류로 36-25 (오류동, 50플러스 남부캠퍼스)",http://50plus.or.kr/ssc,구로구
197,호텔 카푸치노,"06122 서울 강남구 봉은사로 155 (논현동, 호텔 카푸치노)",http://hotelcappuccino.co.kr/,강남구
198,더리버,06500 서울 서초구 신반포로11길 39 (한강반포지구 내 유선장) The River,http://www.the-river.co.kr/,서초구
199,후암서재,04333 서울 용산구 두텁바위로1길 69-1 (후암동),https://www.instagram.com/huamsharedstudy/,용산구

,문화시설명,주소,홈페이지,주제분류,위도,경도,지역구
0,경희대학교,서울특별시 동대문구 경희대로 26,https://www.khu.ac.kr/kor/main/index.do,기타,37.593949,127.054891,동대문구
1,DDP(동대문디자인플라자),서울특별시 중구 을지로 281,http://www.ddp.or.kr/main,기타,37.566813,127.009626,중구
2,우란2경,서울특별시 성동구 연무장7길 11,http://www.wooranfdn.org/main.jsp,공연장,37.543790,127.054417,성동구
3,구립은평뉴타운도서관,서울특별시 은평구 진관2로 111-51,http://www.enlib.or.kr/,도서관,37.637230,126.933118,은평구
4,노원문화예술회관,서울특별시 노원구 중계로 181,https://www.nowonart.kr/,문화예술회관,37.650236,127.080269,노원구
...,...,...,...,...,...,...,...
812,목동종합운동장실내아이스링크,서울특별시 양천구 안양천로 939,https://www.mdicerink.com/mdicerink/index.html,기타,37.530728,126.879233,양천구
813,강서도서관,서울특별시 강서구 등촌로51나길 29,http://gslib.sen.go.kr/,도서관,37.547903,126.859928,강서구
814,송파글마루도서관,서울특별시 송파구 충민로 120,https://www.splib.or.kr/spjlib/index.do,도서관,37.480834,127.130478,송파구
815,영등포평생학습관,서울특별시 영등포구 국회대로53길 20,http://ydpllc.sen.go.kr/ydpllc_index.jsp,도서관,37.527007,126.907703,영등포구
816,갤러리 조은,서울특별시 용산구 이태원로55가길 3,https://galleryjoeun.com/kor/main/,미술관,37.538032,127.000743,용산구

In [ ]:
def find_common_elements(list1, list2):
    return list(set(list1) & set(list2))

common_elements1 = find_common_elements(cul1['홈페이지'].unique(), cul2['홈페이지'].unique())
common_elements1 = common_elements1[1:]
common_elements2 = find_common_elements(cul1['문화시설명'].unique(), cul2['문화시설명'].unique())

if '홈페이지' in cul1.columns:
    cul1 = cul1[~cul1['홈페이지'].isin(common_elements1)]

if '문화시설명' in cul1.columns:
    cul1 = cul1[~cul1['문화시설명'].isin(common_elements2)]

In [ ]:
cul = pd.concat([cul1,cul2],axis=0)

In [ ]:
gu_list = ['송파구','중구','종로구','용산구','강남구','서초구','서대문구','노원구','동대문구','마포구','영등포구','성동구','용산구','광진구']
if '지역구' in cul.columns:
  cul = cul[cul['지역구'].isin(gu_list)]

In [ ]:
cul['검색항목'] = cul['문화시설명'] +' '+ cul['지역구']
cul

,문화시설명,주소,홈페이지,지역구,주제분류,위도,경도,검색항목
1,명동실탄사격장,04537 서울 중구 명동8가길 27 선샤인빌딩3층,http://www.koreashootingclub.com/gnuboard4/,중구,NaN,NaN,NaN,명동실탄사격장 중구
5,KBS 온(ON),07235 서울 영등포구 여의공원로 13 (한국방송공사),http://office.kbs.co.kr/kbson/,영등포구,NaN,NaN,NaN,KBS 온(ON) 영등포구
6,서울김치문화체험관,04537 서울 중구 명동8가길 47 (충무로2가) 동양빌딩 2층,http://www.seoulkimchi.co.kr,중구,NaN,NaN,NaN,서울김치문화체험관 중구
9,강변스파랜드 (Riverside Spa Land),"05049 서울 광진구 구의강변로 45 (구의동, 구의동 복합빌딩) 지하 2층",http://ispaland.co.kr/,광진구,NaN,NaN,NaN,강변스파랜드 (Riverside Spa Land) 광진구
10,스파레이,"06524 서울 서초구 강남대로107길 5 (잠원동, 크레신사옥)",http://www.spalei.co.kr/,서초구,NaN,NaN,NaN,스파레이 서초구
...,...,...,...,...,...,...,...,...
809,청계광장,서울 중구 태평로1가 1,https://www.sisul.or.kr/open_content/cheonggye...,중구,기타,37.569016,126.977588,청계광장 중구
810,무계원,서울 종로구 창의문로5가길 2,https://www.jfac.or.kr/,종로구,문화원,37.591868,126.963437,무계원 종로구
814,송파글마루도서관,서울특별시 송파구 충민로 120,https://www.splib.or.kr/spjlib/index.do,송파구,도서관,37.480834,127.130478,송파글마루도서관 송파구
815,영등포평생학습관,서울특별시 영등포구 국회대로53길 20,http://ydpllc.sen.go.kr/ydpllc_index.jsp,영등포구,도서관,37.527007,126.907703,영등포평생학습관 영등포구
816,갤러리 조은,서울특별시 용산구 이태원로55가길 3,https://galleryjoeun.com/kor/main/,용산구,미술관,37.538032,127.000743,갤러리 조은 용산구

In [ ]:
cul.to_csv('장소 원본.csv',index=0)

In [ ]:
cul['지역구'].value_counts()

종로구     220
중구       87
강남구      78
용산구      72
마포구      44
송파구      39
서초구      37
광진구      35
동대문구     28
영등포구     24
노원구      22
성동구      21
서대문구     14
Name: 지역구, dtype: int64

In [ ]:
cul['검색항목'].to_csv('문화생활정보(FULL).csv',index=0)



---

In [ ]:
data

                      검색항목
0                알페도케밥 용산구
1                 맛나식당 종로구
2                   모리 성동구
3                이촌사누끼 용산구
4                새문순대국 마포구
...                    ...
65083       딸부자네11번출구점 강남구
65084             스시포레 성동구
65085              유남생 서초구
65086            생태명가 영등포구
65087  암브로시아(Ambrosia) 마포구

[65088 rows x 1 columns]

In [ ]:
data = pd.read_csv('/content/식당과카페정보(90%).csv')
culture = pd.read_csv('/content/문화생활정보(FULL).csv')
culture

                                검색항목
0                         명동실탄사격장 중구
1                     KBS 온(ON) 영등포구
2                       서울김치문화체험관 중구
3    강변스파랜드 (Riverside Spa Land) 광진구
4                           스파레이 서초구
..                               ...
716                          청계광장 중구
717                          무계원 종로구
718                     송파글마루도서관 송파구
719                    영등포평생학습관 영등포구
720                       갤러리 조은 용산구

[721 rows x 1 columns]

In [ ]:
len(data)

65088

In [ ]:
data = pd.read_csv('/content/식당과카페정보(90%).csv')

data1 = data[0:16000]  # 승준 (전체 데이터 중 0번째 열부터 15999 열까지만 추출)
data2 = data[16000:16000*2] # 현지 (전체 데이터 중 16000번째 열부터 32000 열까지만 추출)
data3 = data[16000*2:16000*3] # 다영
data4 = data[16000*3:] # 원빈 (전체 데이터 중 48000번째 열부터 나머지 모두를 추출)

data1.to_csv('오승준_식당.csv',index=0) # 추출된 데이터를 csv 파일로 저장
data2.to_csv('이현지_식당.csv',index=0)
data3.to_csv('주다영_식당.csv',index=0)
data4.to_csv('이원빈_식당.csv',index=0)

In [ ]:
data11 = data1[:4000]
data12 = data1[4000:4000*2]
data13 = data1[4000*2:4000*3]
data14 = data1[4000*3:4000*4]

data11.to_csv('오승준_1.csv',index=0) # 추출된 데이터를 csv 파일로 저장
data12.to_csv('오승준_2.csv',index=0)
data13.to_csv('오승준_3.csv',index=0)
data14.to_csv('오승준_4.csv',index=0)

In [ ]:
data12

                        검색항목
4000                기다림 동대문구
4001                 당나라 강남구
4002   커피 원(Coffee one) 서대문구
4003           가가솥밥 삼각지점 용산구
4004                  시소 마포구
...                      ...
7995                 미림 영등포구
7996  비비큐(BBQ) 빌리지 송리단길점 송파구
7997      D.Throne(디트로네) 송파구
7998                 구이어 서초구
7999              충무로치킨호프 중구

[4000 rows x 1 columns]

In [ ]:
a = pd.read_csv('/content/result.csv')
b = a.dropna(axis=0,thresh=4)
b

In [ ]:
c = pd.read_csv('/content/updated_place (1).csv')
d = c.dropna(axis=0,thresh=4)
d

In [ ]:
a[1500:]

In [ ]:
new = pd.read_csv('/content/주다영_식당.csv')
oh = new[:4000]
ju = new[4000:]

oh.to_csv('추가데이터.csv',index=0)
ju.to_csv('12000개_데이터.csv',index=0)

In [ ]:
ju1 = ju[:4000]
ju2 = ju[4000:8000]
ju3 = ju[8000:12000]

ju1.to_csv('4000.csv',index=0)
ju2.to_csv('8000.csv',index=0)
ju3.to_csv('12000.csv',index=0)